<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ins2ght</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon2.png' %}" rel="icon">
  <link href="{% static 'assets/img/favicon2.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Scaffold - v2.0.0
  * Template URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div >
        <a href="index"><img src="{% static 'assets/img/logo4.png' %}" class="img-fluid" alt=""></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="index">개요</a>
          <li><a href="index3">창업 위치 선정</a>
          <li><a href="index2">업종 선정</a>
          <li class="active"><a href="index4">컨설팅</a>
          <li><a href="index5">수요 예측</a>
          <li><a href="index6">About us</a>
          {% if request.session.suser == None %}
          <li><a href="login">로그인</a>
          <li><a href="signup">회원가입</a>
          {% else %}
          <li class="drop-down"><a href="#">{{request.session.suser.name}}(님)</a>
             <ul>
<!--                 <li><a href="{% url 'login' %}">{{request.session.suser.id}}</a></li>-->
               <li><a href="{% url 'profile' %}?id={{request.session.suser.id}}">PROFILE</a></li>
               <li><a href="{% url 'logout' %}">LOGOUT</a></li>
               <li><a href="{% url 'quit' %}?id={{request.session.suser.id}}">회원 탈퇴</a></li>
             </ul>
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="https://github.com/rcm2000/BigdataProject02" class="icon-git" target=”_blank”><i class="icofont-github"></i></a>
        <a href="#" class="facebook"><i class="icofont-google-plus"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

<!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>머신러닝 컨설팅 서비스</h1>
            <h2>저희 INS2GHT는 빅데이터 분석을 통한 인공지능 상권 분류 분석 모델을 개발하여 소상공인분들이 이용할 수 있는 인공지능 컨설팅 서비스를 제공합니다.</h2>
            <a href="#tips" class="btn-get-started scrollto">시작하기</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <section id="analysis">
  </section><!-- End Hero -->
  <!-- ======= Services Section ======= -->
    <section id="tips" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>머신러닝 컨설팅</h2>
        </div>
        <div class="container">
           <table>
	<tr><!-- 첫번째 줄 시작 -->
	    <td rowspan="2"><img src="{% static 'assets/img/analysis.png' %}"></td>
	    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
        <td><h3><i class="bx bx-check-square"></i>하단의 정보를 입력하고 하단의 컨설팅 팁을 확인하세요.</h3></td>
	</tr><!-- 첫번째 줄 끝 -->
	<tr><!-- 두번째 줄 시작 -->
        <td>&emsp;&emsp;&emsp;</td>
	    <td><form action="analysis" method="post">
            {% csrf_token %}
              <div class="form-group first">
                <label for="type"><i class="bx bx-check-circle"></i> 업종</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <select type="text" class="form-control-sm" name="type" id="type">
                    <option value='' selected>-- 선택 --</option>
                    <option value='도시락'>도시락</option>
                    <option value='돈까스/일식'>돈까스/일식</option>
                    <option value='분식'>분식</option>
                    <option value='아시안/양식'>아시안/양식</option>
                    <option value='야식'>야식</option>
                    <option value='족발/보쌈'>족발/보쌈</option>
                    <option value='중식'>중식</option>
                    <option value='찜탕'>찜탕</option>
                    <option value='치킨'>치킨</option>
                    <option value='카페/디저트'>카페/디저트</option>
                    <option value='패스트푸드'>패스트푸드</option>
                    <option value='피자'>피자</option>
                    <option value='한식'>한식</option>
                    <option value='회'>회</option>
                    </select><br>
                <label for="location"><i class="bx bx-check-circle"></i> 위치(읍/면/동)</label>&emsp;&emsp;
                <input type="text" class="form-control-sm" name="location" id="location"><br>
                <label for="code"><i class="bx bx-check-circle"></i> 지역코드 <a href="https://www.code.go.kr/stdcode/regCodeL.do" target="_blank"><i class="bx bx-search-alt-2"></i></a></label>&emsp;&emsp;&emsp;
                <input type="text" class="form-control-sm" name="code" id="code"><br>
                <label for="m_sales"><i class="bx bx-check-circle"></i> 월 평균 배달 매출 </label>&emsp;
                <input type="text" class="form-control-sm" name="m_sales" id="m_sales"><br>
                <label for="m_orders"><i class="bx bx-check-circle"></i> 월 평균 주문 건수 </label>&emsp;
                <input type="text" class="form-control-sm" name="m_orders" id="m_orders"><br>
                <label for="m_amounts"><i class="bx bx-check-circle"></i> 건당 평균 주문 금액 </label>&emsp;
                <input type="text" class="form-control-sm" name="m_amounts" id="m_amounts"><br>
                <label for="time"><i class="bx bx-check-circle"></i> 평균 소요 시간 (분)</label>
                <input type="text" class="form-control-sm" name="time" id="time"><br>

              </div>

                <br><br>
              <div>
                {{error}}
              </div>
              <input type="submit" value="확인" class="btn btn-block btn-dark">

            </form></td>
	</tr><!-- 두번째 줄 끝 -->
    </table>

    </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-bulb"></i></div>
              <h4 class="title"><a href="">&emsp;&emsp;&emsp;&emsp;Tip1&emsp;&emsp;&emsp;&emsp;</a></h4>
              <p class="description">{{msg}}</div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-bulb"></i></div>
              <h4 class="title"><a href="">&emsp;&emsp;&emsp;&emsp;Tip2&emsp;&emsp;&emsp;&emsp;</a></h4>
              <p class="description">{{msg1}} </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-bulb"></i></div>
              <h4 class="title"><a href="">&emsp;&emsp;&emsp;&emsp;Tip3&emsp;&emsp;&emsp;&emsp;</a></h4>
              <p class="description">{{msg2}}</div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-bulb"></i></div>
              <h4 class="title"><a href="">&emsp;&emsp;&emsp;&emsp;Tip4&emsp;&emsp;&emsp;&emsp;</a></h4>
              <p class="description">{{msg3}} </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  <main id="main">
 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>INS2GHT</h3>

                <strong>Email:</strong> cjdauddl93@gmail.com<br>
              </p>
              <br><br><br>
              <div class="social-links mt-3">
                <a href="https://github.com/rcm2000/BigdataProject02" class="github" target=”_blank”><i class="bx bxl-github"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Reference</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://public.tableau.com/ko-kr/search/vizzes/%EB%85%B8%EC%B2%AD%EB%AA%85" target=”_blank”>Tableau</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://bdp.kt.co.kr/invoke/SOKBP0000/?ver=2.1" target=”_blank”>KT 빅데이터 플렛폼</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://dacon.io/competitions/official/235753/data" target=”_blank”>Dacon</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://data.seoul.go.kr/" target=”_blank”>서울 열린데이터 광장</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.data.go.kr/" target=”_blank”>공공 데이터 포럼</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> Data analysis</li>
              <li><i class="bx bx-chevron-right"></i> Web Development</li>
              <li><i class="bx bx-chevron-right"></i> Machinlearning</li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Introduce</h4>
            <p>Ins2ght는 2명이서 유용한 인사이트를 도출해내자는 의미를 가지고 있습니다.</p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Scaffold</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>